.table-expenses {
  width: 100%;
}

.table-header {
  background-color: #333;
  color: white;
  height: 40px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px 10px;
  width: 100%;
}

li {
  list-style-type: none;
}

.ul-expenses {
  color: black;
}

th , td {
  min-width: 120px;
}

.tr-expenses td {
  text-align: center;
}

td button {
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 0.8em;
  margin: 2px;
  padding: 4px;
}

td button:nth-child( 1 ) {
  background-color: rgb(2, 48, 49);
}

td button:nth-child( 2 ) {
  background-color: red;
}
